/* glue: 0.13 hash: 58e4ab4140 */
        .s-s-zcoin,
.s-s-zclassic,
.s-s-zcash,
.s-s-wax,
.s-s-waves,
.s-s-walton,
.s-s-veritaseum,
.s-s-verge,
.s-s-vechain,
.s-s-tron,
.s-s-tether,
.s-s-tenx,
.s-s-syscoin,
.s-s-stratis,
.s-s-storm,
.s-s-steem,
.s-s-status,
.s-s-smartcash,
.s-s-sirin-labs-token,
.s-s-siacoin,
.s-s-salt,
.s-s-ripple,
.s-s-request-network,
.s-s-reddcoin,
.s-s-rchain,
.s-s-raiblocks,
.s-s-quantstamp,
.s-s-qtum,
.s-s-qash,
.s-s-power-ledger,
.s-s-populous,
.s-s-pivx,
.s-s-particl,
.s-s-omisego,
.s-s-nxt,
.s-s-nexus,
.s-s-neo,
.s-s-nem,
.s-s-nebulas-token,
.s-s-monero,
.s-s-monacoin,
.s-s-medibloc,
.s-s-maker,
.s-s-maidsafecoin,
.s-s-loopring,
.s-s-litecoin,
.s-s-lisk,
.s-s-kyber-network,
.s-s-komodo,
.s-s-kin,
.s-s-iota,
.s-s-iostoken,
.s-s-icon,
.s-s-hshare,
.s-s-gxshares,
.s-s-golem-network-tokens,
.s-s-gnosis-gno,
.s-s-gas,
.s-s-gamecredits,
.s-s-funfair,
.s-s-factom,
.s-s-experience-points,
.s-s-ethos,
.s-s-ethereum,
.s-s-ethereum-classic,
.s-s-eos,
.s-s-enigma-project,
.s-s-electroneum,
.s-s-dragonchain,
.s-s-dogecoin,
.s-s-digixdao,
.s-s-digibyte,
.s-s-dentacoin,
.s-s-dent,
.s-s-decred,
.s-s-dash,
.s-s-cryptonex,
.s-s-cindicator,
.s-s-chainlink,
.s-s-cardano,
.s-s-bytom,
.s-s-bytecoin-bcn,
.s-s-byteball,
.s-s-bitshares,
.s-s-bitcore,
.s-s-bitcoin,
.s-s-bitcoin-gold,
.s-s-bitcoin-cash,
.s-s-binance-coin,
.s-s-basic-attention-token,
.s-s-bancor,
.s-s-augur,
.s-s-ark,
.s-s-ardor,
.s-s-aion,
.s-s-aeternity,
.s-s-aelf,
.s-s-0x,
.s-s-stellar,
.s-s-kucoin-shares {
            background-image: url('../img/all_views_market-cap-by-circulating-supply_0.png');
            background-repeat: no-repeat;
        }
        
        .s-s-zcoin {
            background-position: 0 0;
            width: 16px;
            height: 14px;
        }
        
        .s-s-zclassic {
            background-position: 0 -14px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-zcash {
            background-position: -16px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-wax {
            background-position: -32px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-waves {
            background-position: 0 -30px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-walton {
            background-position: -16px -30px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-veritaseum {
            background-position: -32px -30px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-verge {
            background-position: -48px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-vechain {
            background-position: -48px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-tron {
            background-position: 0 -46px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-tether {
            background-position: -14px -46px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-tenx {
            background-position: -30px -46px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-syscoin {
            background-position: -48px -32px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-stratis {
            background-position: -46px -46px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-storm {
            background-position: -64px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-steem {
            background-position: -64px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-status {
            background-position: -64px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-smartcash {
            background-position: 0 -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-sirin-labs-token {
            background-position: -16px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-siacoin {
            background-position: -32px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-salt {
            background-position: -48px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ripple {
            background-position: -64px -62px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-request-network {
            background-position: -80px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-reddcoin {
            background-position: -80px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-rchain {
            background-position: -80px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-raiblocks {
            background-position: -80px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-quantstamp {
            background-position: 0 -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-qtum {
            background-position: -16px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-qash {
            background-position: -32px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-power-ledger {
            background-position: -48px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-populous {
            background-position: -64px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-pivx {
            background-position: -80px -78px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-particl {
            background-position: -96px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-omisego {
            background-position: -96px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nxt {
            background-position: -96px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nexus {
            background-position: -96px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-neo {
            background-position: -96px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nem {
            background-position: 0 -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-nebulas-token {
            background-position: -16px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-monero {
            background-position: -32px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-monacoin {
            background-position: -48px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-medibloc {
            background-position: -64px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-maker {
            background-position: -80px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-maidsafecoin {
            background-position: -96px -94px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-loopring {
            background-position: -112px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-litecoin {
            background-position: -112px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-lisk {
            background-position: -112px -32px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-kyber-network {
            background-position: -112px -48px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-komodo {
            background-position: -112px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-kin {
            background-position: -112px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-iota {
            background-position: 0 -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-iostoken {
            background-position: -16px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-icon {
            background-position: -32px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-hshare {
            background-position: -112px -96px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-gxshares {
            background-position: -48px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-golem-network-tokens {
            background-position: -64px -110px;
            width: 12px;
            height: 16px;
        }
        
        .s-s-gnosis-gno {
            background-position: -96px -80px;
            width: 16px;
            height: 12px;
        }
        
        .s-s-gas {
            background-position: -76px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-gamecredits {
            background-position: -92px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-funfair {
            background-position: -108px -110px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-factom {
            background-position: -128px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-experience-points {
            background-position: -128px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ethos {
            background-position: -128px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ethereum {
            background-position: -128px -48px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-ethereum-classic {
            background-position: -128px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-eos {
            background-position: -128px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-enigma-project {
            background-position: -128px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-electroneum {
            background-position: 0 -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dragonchain {
            background-position: -16px -126px;
            width: 14px;
            height: 16px;
        }
        
        .s-s-dogecoin {
            background-position: -30px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-digixdao {
            background-position: -46px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-digibyte {
            background-position: -62px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dentacoin {
            background-position: -78px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dent {
            background-position: -94px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-decred {
            background-position: -110px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-dash {
            background-position: -128px -112px;
            width: 16px;
            height: 14px;
        }
        
        .s-s-cryptonex {
            background-position: -126px -126px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-cindicator {
            background-position: -144px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-chainlink {
            background-position: -144px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-cardano {
            background-position: -144px -32px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bytom {
            background-position: -144px -48px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bytecoin-bcn {
            background-position: -144px -64px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-byteball {
            background-position: -144px -80px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitshares {
            background-position: -144px -96px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcore {
            background-position: -144px -112px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoin {
            background-position: 0 -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoin-gold {
            background-position: -16px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bitcoin-cash {
            background-position: -32px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-binance-coin {
            background-position: -48px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-basic-attention-token {
            background-position: -64px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-bancor {
            background-position: -80px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-augur {
            background-position: -96px -142px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-ark {
            background-position: -112px -142px;
            width: 16px;
            height: 15px;
        }
        
        .s-s-ardor {
            background-position: -160px 0;
            width: 16px;
            height: 16px;
        }
        
        .s-s-aion {
            background-position: -160px -16px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-aeternity {
            background-position: -160px -32px;
            width: 16px;
            height: 12px;
        }
        
        .s-s-aelf {
            background-position: -160px -44px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-0x {
            background-position: -160px -60px;
            width: 16px;
            height: 16px;
        }
        
        .s-s-stellar {
            background-position: -160px -76px;
            width: 15px;
            height: 15px;
        }
        
        .s-s-kucoin-shares {
            background-position: -160px -91px;
            width: 14px;
            height: 15px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .s-s-zcoin,
    .s-s-zclassic,
    .s-s-zcash,
    .s-s-wax,
    .s-s-waves,
    .s-s-walton,
    .s-s-veritaseum,
    .s-s-verge,
    .s-s-vechain,
    .s-s-tron,
    .s-s-tether,
    .s-s-tenx,
    .s-s-syscoin,
    .s-s-stratis,
    .s-s-storm,
    .s-s-steem,
    .s-s-status,
    .s-s-smartcash,
    .s-s-sirin-labs-token,
    .s-s-siacoin,
    .s-s-salt,
    .s-s-ripple,
    .s-s-request-network,
    .s-s-reddcoin,
    .s-s-rchain,
    .s-s-raiblocks,
    .s-s-quantstamp,
    .s-s-qtum,
    .s-s-qash,
    .s-s-power-ledger,
    .s-s-populous,
    .s-s-pivx,
    .s-s-particl,
    .s-s-omisego,
    .s-s-nxt,
    .s-s-nexus,
    .s-s-neo,
    .s-s-nem,
    .s-s-nebulas-token,
    .s-s-monero,
    .s-s-monacoin,
    .s-s-medibloc,
    .s-s-maker,
    .s-s-maidsafecoin,
    .s-s-loopring,
    .s-s-litecoin,
    .s-s-lisk,
    .s-s-kyber-network,
    .s-s-komodo,
    .s-s-kin,
    .s-s-iota,
    .s-s-iostoken,
    .s-s-icon,
    .s-s-hshare,
    .s-s-gxshares,
    .s-s-golem-network-tokens,
    .s-s-gnosis-gno,
    .s-s-gas,
    .s-s-gamecredits,
    .s-s-funfair,
    .s-s-factom,
    .s-s-experience-points,
    .s-s-ethos,
    .s-s-ethereum,
    .s-s-ethereum-classic,
    .s-s-eos,
    .s-s-enigma-project,
    .s-s-electroneum,
    .s-s-dragonchain,
    .s-s-dogecoin,
    .s-s-digixdao,
    .s-s-digibyte,
    .s-s-dentacoin,
    .s-s-dent,
    .s-s-decred,
    .s-s-dash,
    .s-s-cryptonex,
    .s-s-cindicator,
    .s-s-chainlink,
    .s-s-cardano,
    .s-s-bytom,
    .s-s-bytecoin-bcn,
    .s-s-byteball,
    .s-s-bitshares,
    .s-s-bitcore,
    .s-s-bitcoin,
    .s-s-bitcoin-gold,
    .s-s-bitcoin-cash,
    .s-s-binance-coin,
    .s-s-basic-attention-token,
    .s-s-bancor,
    .s-s-augur,
    .s-s-ark,
    .s-s-ardor,
    .s-s-aion,
    .s-s-aeternity,
    .s-s-aelf,
    .s-s-0x,
    .s-s-stellar,
    .s-s-kucoin-shares {
                background-image: url('../img/all_views_market-cap-by-circulating-supply_0.png');
                -webkit-background-size: 176px 158px;
                -moz-background-size: 176px 158px;
                background-size: 176px 158px;
            }
        }
        