
<optgroup label="Web Application Icons">
    <option value="fa fa-adjust" data-icon="fa fa-adjust">Adjust</option>
    <option value="fa fa-anchor" data-icon="fa fa-anchor">Anchor</option>
    <option value="fa fa-archive" data-icon="fa fa-archive">Archive</option>
    <option value="fa fa-area-chart" data-icon="fa fa-area-chart">Area-chart</option>
    <option value="fa fa-arrows" data-icon="fa fa-arrows">Arrows</option>
    <option value="fa fa-arrows-h" data-icon="fa fa-arrows-h">Arrows-h</option>
    <option value="fa fa-arrows-v" data-icon="fa fa-arrows-v">Arrows-v</option>
    <option value="fa fa-asterisk" data-icon="fa fa-asterisk">Asterisk</option>
    <option value="fa fa-at" data-icon="fa fa-at">At</option>
    <option value="fa fa-automobile" data-icon="fa fa-automobile">Automobile</option>
    <option value="fa fa-balance-scale" data-icon="fa fa-balance-scale">Balance-scale</option>
    <option value="fa fa-ban" data-icon="fa fa-ban">Ban</option>
    <option value="fa fa-bank" data-icon="fa fa-bank">Bank</option>
    <option value="fa fa-bar-chart" data-icon="fa fa-bar-chart">Bar-chart</option>
    <option value="fa fa-bar-chart-o" data-icon="fa fa-bar-chart-o">Bar-chart-o</option>
    <option value="fa fa-barcode" data-icon="fa fa-barcode">Barcode</option>
    <option value="fa fa-bars" data-icon="fa fa-bars">Bars</option>
    <option value="fa fa-battery-0" data-icon="fa fa-battery-0">Battery-0</option>
    <option value="fa fa-battery-1" data-icon="fa fa-battery-1">Battery-1</option>
    <option value="fa fa-battery-2" data-icon="fa fa-battery-2">Battery-2</option>
    <option value="fa fa-battery-3" data-icon="fa fa-battery-3">Battery-3</option>
    <option value="fa fa-battery-4" data-icon="fa fa-battery-4">Battery-4</option>
    <option value="fa fa-battery-empty" data-icon="fa fa-battery-empty">Battery-empty</option>
    <option value="fa fa-battery-full" data-icon="fa fa-battery-full">Battery-full</option>
    <option value="fa fa-battery-half" data-icon="fa fa-battery-half">Battery-half</option>
    <option value="fa fa-battery-quarter" data-icon="fa fa-battery-quarter">Battery-quarter</option>
    <option value="fa fa-battery-three-quarters" data-icon="fa fa-battery-three-quarters">Battery-three-quarters</option>
    <option value="fa fa-bed" data-icon="fa fa-bed">Bed</option>
    <option value="fa fa-beer" data-icon="fa fa-beer">Beer</option>
    <option value="fa fa-bell" data-icon="fa fa-bell">Bell</option>
    <option value="fa fa-bell-o" data-icon="fa fa-bell-o">Bell-o</option>
    <option value="fa fa-bell-slash" data-icon="fa fa-bell-slash">Bell-slash</option>
    <option value="fa fa-bell-slash-o" data-icon="fa fa-bell-slash-o">Bell-slash-o</option>
    <option value="fa fa-bicycle" data-icon="fa fa-bicycle">Bicycle</option>
    <option value="fa fa-binoculars" data-icon="fa fa-binoculars">Binoculars</option>
    <option value="fa fa-birthday-cake" data-icon="fa fa-birthday-cake">Birthday-cake</option>
    <option value="fa fa-bluetooth" data-icon="fa fa-bluetooth">Bluetooth</option>
    <option value="fa fa-bluetooth-b" data-icon="fa fa-bluetooth-b">Bluetooth-b</option>
    <option value="fa fa-bolt" data-icon="fa fa-bolt">Bolt</option>
    <option value="fa fa-bomb" data-icon="fa fa-bomb">Bomb</option>
    <option value="fa fa-book" data-icon="fa fa-book">Book</option>
    <option value="fa fa-bookmark" data-icon="fa fa-bookmark">Bookmark</option>
    <option value="fa fa-bookmark-o" data-icon="fa fa-bookmark-o">Bookmark-o</option>
    <option value="fa fa-briefcase" data-icon="fa fa-briefcase">Briefcase</option>
    <option value="fa fa-bug" data-icon="fa fa-bug">Bug</option>
    <option value="fa fa-building" data-icon="fa fa-building">Building</option>
    <option value="fa fa-building-o" data-icon="fa fa-building-o">Building-o</option>
    <option value="fa fa-bullhorn" data-icon="fa fa-bullhorn">Bullhorn</option>
    <option value="fa fa-bullseye" data-icon="fa fa-bullseye">Bullseye</option>
    <option value="fa fa-bus" data-icon="fa fa-bus">Bus</option>
    <option value="fa fa-cab" data-icon="fa fa-cab">Cab</option>
    <option value="fa fa-calculator" data-icon="fa fa-calculator">Calculator</option>
    <option value="fa fa-calendar" data-icon="fa fa-calendar">Calendar</option>
    <option value="fa fa-calendar-check-o" data-icon="fa fa-calendar-check-o">Calendar-check-o</option>
    <option value="fa fa-calendar-minus-o" data-icon="fa fa-calendar-minus-o">Calendar-minus-o</option>
    <option value="fa fa-calendar-o" data-icon="fa fa-calendar-o">Calendar-o</option>
    <option value="fa fa-calendar-plus-o" data-icon="fa fa-calendar-plus-o">Calendar-plus-o</option>
    <option value="fa fa-calendar-times-o" data-icon="fa fa-calendar-times-o">Calendar-times-o</option>
    <option value="fa fa-camera" data-icon="fa fa-camera">Camera</option>
    <option value="fa fa-camera-retro" data-icon="fa fa-camera-retro">Camera-retro</option>
    <option value="fa fa-car" data-icon="fa fa-car">Car</option>
    <option value="fa fa-caret-square-o-down" data-icon="fa fa-caret-square-o-down">Caret-square-o-down</option>
    <option value="fa fa-caret-square-o-left" data-icon="fa fa-caret-square-o-left">Caret-square-o-left</option>
    <option value="fa fa-caret-square-o-right" data-icon="fa fa-caret-square-o-right">Caret-square-o-right</option>
    <option value="fa fa-caret-square-o-up" data-icon="fa fa-caret-square-o-up">Caret-square-o-up</option>
    <option value="fa fa-cart-arrow-down" data-icon="fa fa-cart-arrow-down">Cart-arrow-down</option>
    <option value="fa fa-cart-plus" data-icon="fa fa-cart-plus">Cart-plus</option>
    <option value="fa fa-cc" data-icon="fa fa-cc">Cc</option>
    <option value="fa fa-certificate" data-icon="fa fa-certificate">Certificate</option>
    <option value="fa fa-check" data-icon="fa fa-check">Check</option>
    <option value="fa fa-check-circle" data-icon="fa fa-check-circle">Check-circle</option>
    <option value="fa fa-check-circle-o" data-icon="fa fa-check-circle-o">Check-circle-o</option>
    <option value="fa fa-check-square" data-icon="fa fa-check-square">Check-square</option>
    <option value="fa fa-check-square-o" data-icon="fa fa-check-square-o">Check-square-o</option>
    <option value="fa fa-child" data-icon="fa fa-child">Child</option>
    <option value="fa fa-circle" data-icon="fa fa-circle">Circle</option>
    <option value="fa fa-circle-o" data-icon="fa fa-circle-o">Circle-o</option>
    <option value="fa fa-circle-o-notch" data-icon="fa fa-circle-o-notch">Circle-o-notch</option>
    <option value="fa fa-circle-thin" data-icon="fa fa-circle-thin">Circle-thin</option>
    <option value="fa fa-clock-o" data-icon="fa fa-clock-o">Clock-o</option>
    <option value="fa fa-clone" data-icon="fa fa-clone">Clone</option>
    <option value="fa fa-close" data-icon="fa fa-close">Close</option>
    <option value="fa fa-cloud" data-icon="fa fa-cloud">Cloud</option>
    <option value="fa fa-cloud-download" data-icon="fa fa-cloud-download">Cloud-download</option>
    <option value="fa fa-cloud-upload" data-icon="fa fa-cloud-upload">Cloud-upload</option>
    <option value="fa fa-code" data-icon="fa fa-code">Code</option>
    <option value="fa fa-code-fork" data-icon="fa fa-code-fork">Code-fork</option>
    <option value="fa fa-coffee" data-icon="fa fa-coffee">Coffee</option>
    <option value="fa fa-cog" data-icon="fa fa-cog">Cog</option>
    <option value="fa fa-cogs" data-icon="fa fa-cogs">Cogs</option>
    <option value="fa fa-comment" data-icon="fa fa-comment">Comment</option>
    <option value="fa fa-comment-o" data-icon="fa fa-comment-o">Comment-o</option>
    <option value="fa fa-commenting" data-icon="fa fa-commenting">Commenting</option>
    <option value="fa fa-commenting-o" data-icon="fa fa-commenting-o">Commenting-o</option>
    <option value="fa fa-comments" data-icon="fa fa-comments">Comments</option>
    <option value="fa fa-comments-o" data-icon="fa fa-comments-o">Comments-o</option>
    <option value="fa fa-compass" data-icon="fa fa-compass">Compass</option>
    <option value="fa fa-copyright" data-icon="fa fa-copyright">Copyright</option>
    <option value="fa fa-creative-commons" data-icon="fa fa-creative-commons">Creative-commons</option>
    <option value="fa fa-credit-card" data-icon="fa fa-credit-card">Credit-card</option>
    <option value="fa fa-credit-card-alt" data-icon="fa fa-credit-card-alt">Credit-card-alt</option>
    <option value="fa fa-crop" data-icon="fa fa-crop">Crop</option>
    <option value="fa fa-crosshairs" data-icon="fa fa-crosshairs">Crosshairs</option>
    <option value="fa fa-cube" data-icon="fa fa-cube">Cube</option>
    <option value="fa fa-cubes" data-icon="fa fa-cubes">Cubes</option>
    <option value="fa fa-cutlery" data-icon="fa fa-cutlery">Cutlery</option>
    <option value="fa fa-dashboard" data-icon="fa fa-dashboard">Dashboard</option>
    <option value="fa fa-database" data-icon="fa fa-database">Database</option>
    <option value="fa fa-desktop" data-icon="fa fa-desktop">Desktop</option>
    <option value="fa fa-diamond" data-icon="fa fa-diamond">Diamond</option>
    <option value="fa fa-dot-circle-o" data-icon="fa fa-dot-circle-o">Dot-circle-o</option>
    <option value="fa fa-download" data-icon="fa fa-download">Download</option>
    <option value="fa fa-edit" data-icon="fa fa-edit">Edit</option>
    <option value="fa fa-ellipsis-h" data-icon="fa fa-ellipsis-h">Ellipsis-h</option>
    <option value="fa fa-ellipsis-v" data-icon="fa fa-ellipsis-v">Ellipsis-v</option>
    <option value="fa fa-envelope" data-icon="fa fa-envelope">Envelope</option>
    <option value="fa fa-envelope-o" data-icon="fa fa-envelope-o">Envelope-o</option>
    <option value="fa fa-envelope-square" data-icon="fa fa-envelope-square">Envelope-square</option>
    <option value="fa fa-eraser" data-icon="fa fa-eraser">Eraser</option>
    <option value="fa fa-exchange" data-icon="fa fa-exchange">Exchange</option>
    <option value="fa fa-exclamation" data-icon="fa fa-exclamation">Exclamation</option>
    <option value="fa fa-exclamation-circle" data-icon="fa fa-exclamation-circle">Exclamation-circle</option>
    <option value="fa fa-exclamation-triangle" data-icon="fa fa-exclamation-triangle">Exclamation-triangle</option>
    <option value="fa fa-external-link" data-icon="fa fa-external-link">External-link</option>
    <option value="fa fa-external-link-square" data-icon="fa fa-external-link-square">External-link-square</option>
    <option value="fa fa-eye" data-icon="fa fa-eye">Eye</option>
    <option value="fa fa-eye-slash" data-icon="fa fa-eye-slash">Eye-slash</option>
    <option value="fa fa-eyedropper" data-icon="fa fa-eyedropper">Eyedropper</option>
    <option value="fa fa-fax" data-icon="fa fa-fax">Fax</option>
    <option value="fa fa-feed" data-icon="fa fa-feed">Feed</option>
    <option value="fa fa-female" data-icon="fa fa-female">Female</option>
    <option value="fa fa-fighter-jet" data-icon="fa fa-fighter-jet">Fighter-jet</option>
    <option value="fa fa-file-archive-o" data-icon="fa fa-file-archive-o">File-archive-o</option>
    <option value="fa fa-file-audio-o" data-icon="fa fa-file-audio-o">File-audio-o</option>
    <option value="fa fa-file-code-o" data-icon="fa fa-file-code-o">File-code-o</option>
    <option value="fa fa-file-excel-o" data-icon="fa fa-file-excel-o">File-excel-o</option>
    <option value="fa fa-file-image-o" data-icon="fa fa-file-image-o">File-image-o</option>
    <option value="fa fa-file-movie-o" data-icon="fa fa-file-movie-o">File-movie-o</option>
    <option value="fa fa-file-pdf-o" data-icon="fa fa-file-pdf-o">File-pdf-o</option>
    <option value="fa fa-file-photo-o" data-icon="fa fa-file-photo-o">File-photo-o</option>
    <option value="fa fa-file-picture-o" data-icon="fa fa-file-picture-o">File-picture-o</option>
    <option value="fa fa-file-powerpoint-o" data-icon="fa fa-file-powerpoint-o">File-powerpoint-o</option>
    <option value="fa fa-file-sound-o" data-icon="fa fa-file-sound-o">File-sound-o</option>
    <option value="fa fa-file-video-o" data-icon="fa fa-file-video-o">File-video-o</option>
    <option value="fa fa-file-word-o" data-icon="fa fa-file-word-o">File-word-o</option>
    <option value="fa fa-file-zip-o" data-icon="fa fa-file-zip-o">File-zip-o</option>
    <option value="fa fa-film" data-icon="fa fa-film">Film</option>
    <option value="fa fa-filter" data-icon="fa fa-filter">Filter</option>
    <option value="fa fa-fire" data-icon="fa fa-fire">Fire</option>
    <option value="fa fa-fire-extinguisher" data-icon="fa fa-fire-extinguisher">Fire-extinguisher</option>
    <option value="fa fa-flag" data-icon="fa fa-flag">Flag</option>
    <option value="fa fa-flag-checkered" data-icon="fa fa-flag-checkered">Flag-checkered</option>
    <option value="fa fa-flag-o" data-icon="fa fa-flag-o">Flag-o</option>
    <option value="fa fa-flash" data-icon="fa fa-flash">Flash</option>
    <option value="fa fa-flask" data-icon="fa fa-flask">Flask</option>
    <option value="fa fa-folder" data-icon="fa fa-folder">Folder</option>
    <option value="fa fa-folder-o" data-icon="fa fa-folder-o">Folder-o</option>
    <option value="fa fa-folder-open" data-icon="fa fa-folder-open">Folder-open</option>
    <option value="fa fa-folder-open-o" data-icon="fa fa-folder-open-o">Folder-open-o</option>
    <option value="fa fa-frown-o" data-icon="fa fa-frown-o">Frown-o</option>
    <option value="fa fa-futbol-o" data-icon="fa fa-futbol-o">Futbol-o</option>
    <option value="fa fa-gamepad" data-icon="fa fa-gamepad">Gamepad</option>
    <option value="fa fa-gavel" data-icon="fa fa-gavel">Gavel</option>
    <option value="fa fa-gear" data-icon="fa fa-gear">Gear</option>
    <option value="fa fa-gears" data-icon="fa fa-gears">Gears</option>
    <option value="fa fa-gift" data-icon="fa fa-gift">Gift</option>
    <option value="fa fa-glass" data-icon="fa fa-glass">Glass</option>
    <option value="fa fa-globe" data-icon="fa fa-globe">Globe</option>
    <option value="fa fa-graduation-cap" data-icon="fa fa-graduation-cap">Graduation-cap</option>
    <option value="fa fa-group" data-icon="fa fa-group">Group</option>
    <option value="fa fa-hand-grab-o" data-icon="fa fa-hand-grab-o">Hand-grab-o</option>
    <option value="fa fa-hand-lizard-o" data-icon="fa fa-hand-lizard-o">Hand-lizard-o</option>
    <option value="fa fa-hand-paper-o" data-icon="fa fa-hand-paper-o">Hand-paper-o</option>
    <option value="fa fa-hand-peace-o" data-icon="fa fa-hand-peace-o">Hand-peace-o</option>
    <option value="fa fa-hand-pointer-o" data-icon="fa fa-hand-pointer-o">Hand-pointer-o</option>
    <option value="fa fa-hand-rock-o" data-icon="fa fa-hand-rock-o">Hand-rock-o</option>
    <option value="fa fa-hand-scissors-o" data-icon="fa fa-hand-scissors-o">Hand-scissors-o</option>
    <option value="fa fa-hand-spock-o" data-icon="fa fa-hand-spock-o">Hand-spock-o</option>
    <option value="fa fa-hand-stop-o" data-icon="fa fa-hand-stop-o">Hand-stop-o</option>
    <option value="fa fa-hashtag" data-icon="fa fa-hashtag">Hashtag</option>
    <option value="fa fa-hdd-o" data-icon="fa fa-hdd-o">Hdd-o</option>
    <option value="fa fa-headphones" data-icon="fa fa-headphones">Headphones</option>
    <option value="fa fa-heart" data-icon="fa fa-heart">Heart</option>
    <option value="fa fa-heart-o" data-icon="fa fa-heart-o">Heart-o</option>
    <option value="fa fa-heartbeat" data-icon="fa fa-heartbeat">Heartbeat</option>
    <option value="fa fa-history" data-icon="fa fa-history">History</option>
    <option value="fa fa-home" data-icon="fa fa-home">Home</option>
    <option value="fa fa-hotel" data-icon="fa fa-hotel">Hotel</option>
    <option value="fa fa-hourglass" data-icon="fa fa-hourglass">Hourglass</option>
    <option value="fa fa-hourglass-1" data-icon="fa fa-hourglass-1">Hourglass-1</option>
    <option value="fa fa-hourglass-2" data-icon="fa fa-hourglass-2">Hourglass-2</option>
    <option value="fa fa-hourglass-3" data-icon="fa fa-hourglass-3">Hourglass-3</option>
    <option value="fa fa-hourglass-end" data-icon="fa fa-hourglass-end">Hourglass-end</option>
    <option value="fa fa-hourglass-half" data-icon="fa fa-hourglass-half">Hourglass-half</option>
    <option value="fa fa-hourglass-o" data-icon="fa fa-hourglass-o">Hourglass-o</option>
    <option value="fa fa-hourglass-start" data-icon="fa fa-hourglass-start">Hourglass-start</option>
    <option value="fa fa-i-cursor" data-icon="fa fa-i-cursor">İ-cursor</option>
    <option value="fa fa-image" data-icon="fa fa-image">İmage</option>
    <option value="fa fa-inbox" data-icon="fa fa-inbox">İnbox</option>
    <option value="fa fa-industry" data-icon="fa fa-industry">İndustry</option>
    <option value="fa fa-info" data-icon="fa fa-info">İnfo</option>
    <option value="fa fa-info-circle" data-icon="fa fa-info-circle">İnfo-circle</option>
    <option value="fa fa-institution" data-icon="fa fa-institution">İnstitution</option>
    <option value="fa fa-key" data-icon="fa fa-key">Key</option>
    <option value="fa fa-keyboard-o" data-icon="fa fa-keyboard-o">Keyboard-o</option>
    <option value="fa fa-language" data-icon="fa fa-language">Language</option>
    <option value="fa fa-laptop" data-icon="fa fa-laptop">Laptop</option>
    <option value="fa fa-leaf" data-icon="fa fa-leaf">Leaf</option>
    <option value="fa fa-legal" data-icon="fa fa-legal">Legal</option>
    <option value="fa fa-lemon-o" data-icon="fa fa-lemon-o">Lemon-o</option>
    <option value="fa fa-level-down" data-icon="fa fa-level-down">Level-down</option>
    <option value="fa fa-level-up" data-icon="fa fa-level-up">Level-up</option>
    <option value="fa fa-life-bouy" data-icon="fa fa-life-bouy">Life-bouy</option>
    <option value="fa fa-life-buoy" data-icon="fa fa-life-buoy">Life-buoy</option>
    <option value="fa fa-life-ring" data-icon="fa fa-life-ring">Life-ring</option>
    <option value="fa fa-life-saver" data-icon="fa fa-life-saver">Life-saver</option>
    <option value="fa fa-lightbulb-o" data-icon="fa fa-lightbulb-o">Lightbulb-o</option>
    <option value="fa fa-line-chart" data-icon="fa fa-line-chart">Line-chart</option>
    <option value="fa fa-location-arrow" data-icon="fa fa-location-arrow">Location-arrow</option>
    <option value="fa fa-lock" data-icon="fa fa-lock">Lock</option>
    <option value="fa fa-magic" data-icon="fa fa-magic">Magic</option>
    <option value="fa fa-magnet" data-icon="fa fa-magnet">Magnet</option>
    <option value="fa fa-mail-forward" data-icon="fa fa-mail-forward">Mail-forward</option>
    <option value="fa fa-mail-reply" data-icon="fa fa-mail-reply">Mail-reply</option>
    <option value="fa fa-mail-reply-all" data-icon="fa fa-mail-reply-all">Mail-reply-all</option>
    <option value="fa fa-male" data-icon="fa fa-male">Male</option>
    <option value="fa fa-map" data-icon="fa fa-map">Map</option>
    <option value="fa fa-map-marker" data-icon="fa fa-map-marker">Map-marker</option>
    <option value="fa fa-map-o" data-icon="fa fa-map-o">Map-o</option>
    <option value="fa fa-map-pin" data-icon="fa fa-map-pin">Map-pin</option>
    <option value="fa fa-map-signs" data-icon="fa fa-map-signs">Map-signs</option>
    <option value="fa fa-meh-o" data-icon="fa fa-meh-o">Meh-o</option>
    <option value="fa fa-microphone" data-icon="fa fa-microphone">Microphone</option>
    <option value="fa fa-microphone-slash" data-icon="fa fa-microphone-slash">Microphone-slash</option>
    <option value="fa fa-minus" data-icon="fa fa-minus">Minus</option>
    <option value="fa fa-minus-circle" data-icon="fa fa-minus-circle">Minus-circle</option>
    <option value="fa fa-minus-square" data-icon="fa fa-minus-square">Minus-square</option>
    <option value="fa fa-minus-square-o" data-icon="fa fa-minus-square-o">Minus-square-o</option>
    <option value="fa fa-mobile" data-icon="fa fa-mobile">Mobile</option>
    <option value="fa fa-mobile-phone" data-icon="fa fa-mobile-phone">Mobile-phone</option>
    <option value="fa fa-money" data-icon="fa fa-money">Money</option>
    <option value="fa fa-moon-o" data-icon="fa fa-moon-o">Moon-o</option>
    <option value="fa fa-mortar-board" data-icon="fa fa-mortar-board">Mortar-board</option>
    <option value="fa fa-motorcycle" data-icon="fa fa-motorcycle">Motorcycle</option>
    <option value="fa fa-mouse-pointer" data-icon="fa fa-mouse-pointer">Mouse-pointer</option>
    <option value="fa fa-music" data-icon="fa fa-music">Music</option>
    <option value="fa fa-navicon" data-icon="fa fa-navicon">Navicon</option>
    <option value="fa fa-newspaper-o" data-icon="fa fa-newspaper-o">Newspaper-o</option>
    <option value="fa fa-object-group" data-icon="fa fa-object-group">Object-group</option>
    <option value="fa fa-object-ungroup" data-icon="fa fa-object-ungroup">Object-ungroup</option>
    <option value="fa fa-paint-brush" data-icon="fa fa-paint-brush">Paint-brush</option>
    <option value="fa fa-paper-plane" data-icon="fa fa-paper-plane">Paper-plane</option>
    <option value="fa fa-paper-plane-o" data-icon="fa fa-paper-plane-o">Paper-plane-o</option>
    <option value="fa fa-paw" data-icon="fa fa-paw">Paw</option>
    <option value="fa fa-pencil" data-icon="fa fa-pencil">Pencil</option>
    <option value="fa fa-pencil-square" data-icon="fa fa-pencil-square">Pencil-square</option>
    <option value="fa fa-pencil-square-o" data-icon="fa fa-pencil-square-o">Pencil-square-o</option>
    <option value="fa fa-percent" data-icon="fa fa-percent">Percent</option>
    <option value="fa fa-phone" data-icon="fa fa-phone">Phone</option>
    <option value="fa fa-phone-square" data-icon="fa fa-phone-square">Phone-square</option>
    <option value="fa fa-photo" data-icon="fa fa-photo">Photo</option>
    <option value="fa fa-picture-o" data-icon="fa fa-picture-o">Picture-o</option>
    <option value="fa fa-pie-chart" data-icon="fa fa-pie-chart">Pie-chart</option>
    <option value="fa fa-plane" data-icon="fa fa-plane">Plane</option>
    <option value="fa fa-plug" data-icon="fa fa-plug">Plug</option>
    <option value="fa fa-plus" data-icon="fa fa-plus">Plus</option>
    <option value="fa fa-plus-circle" data-icon="fa fa-plus-circle">Plus-circle</option>
    <option value="fa fa-plus-square" data-icon="fa fa-plus-square">Plus-square</option>
    <option value="fa fa-plus-square-o" data-icon="fa fa-plus-square-o">Plus-square-o</option>
    <option value="fa fa-power-off" data-icon="fa fa-power-off">Power-off</option>
    <option value="fa fa-print" data-icon="fa fa-print">Print</option>
    <option value="fa fa-puzzle-piece" data-icon="fa fa-puzzle-piece">Puzzle-piece</option>
    <option value="fa fa-qrcode" data-icon="fa fa-qrcode">Qrcode</option>
    <option value="fa fa-question" data-icon="fa fa-question">Question</option>
    <option value="fa fa-question-circle" data-icon="fa fa-question-circle">Question-circle</option>
    <option value="fa fa-quote-left" data-icon="fa fa-quote-left">Quote-left</option>
    <option value="fa fa-quote-right" data-icon="fa fa-quote-right">Quote-right</option>
    <option value="fa fa-random" data-icon="fa fa-random">Random</option>
    <option value="fa fa-recycle" data-icon="fa fa-recycle">Recycle</option>
    <option value="fa fa-refresh" data-icon="fa fa-refresh">Refresh</option>
    <option value="fa fa-registered" data-icon="fa fa-registered">Registered</option>
    <option value="fa fa-remove" data-icon="fa fa-remove">Remove</option>
    <option value="fa fa-reorder" data-icon="fa fa-reorder">Reorder</option>
    <option value="fa fa-reply" data-icon="fa fa-reply">Reply</option>
    <option value="fa fa-reply-all" data-icon="fa fa-reply-all">Reply-all</option>
    <option value="fa fa-retweet" data-icon="fa fa-retweet">Retweet</option>
    <option value="fa fa-road" data-icon="fa fa-road">Road</option>
    <option value="fa fa-rocket" data-icon="fa fa-rocket">Rocket</option>
    <option value="fa fa-rss" data-icon="fa fa-rss">Rss</option>
    <option value="fa fa-rss-square" data-icon="fa fa-rss-square">Rss-square</option>
    <option value="fa fa-search" data-icon="fa fa-search">Search</option>
    <option value="fa fa-search-minus" data-icon="fa fa-search-minus">Search-minus</option>
    <option value="fa fa-search-plus" data-icon="fa fa-search-plus">Search-plus</option>
    <option value="fa fa-send" data-icon="fa fa-send">Send</option>
    <option value="fa fa-send-o" data-icon="fa fa-send-o">Send-o</option>
    <option value="fa fa-server" data-icon="fa fa-server">Server</option>
    <option value="fa fa-share" data-icon="fa fa-share">Share</option>
    <option value="fa fa-share-alt" data-icon="fa fa-share-alt">Share-alt</option>
    <option value="fa fa-share-alt-square" data-icon="fa fa-share-alt-square">Share-alt-square</option>
    <option value="fa fa-share-square" data-icon="fa fa-share-square">Share-square</option>
    <option value="fa fa-share-square-o" data-icon="fa fa-share-square-o">Share-square-o</option>
    <option value="fa fa-shield" data-icon="fa fa-shield">Shield</option>
    <option value="fa fa-ship" data-icon="fa fa-ship">Ship</option>
    <option value="fa fa-shopping-bag" data-icon="fa fa-shopping-bag">Shopping-bag</option>
    <option value="fa fa-shopping-basket" data-icon="fa fa-shopping-basket">Shopping-basket</option>
    <option value="fa fa-shopping-cart" data-icon="fa fa-shopping-cart">Shopping-cart</option>
    <option value="fa fa-sign-in" data-icon="fa fa-sign-in">Sign-in</option>
    <option value="fa fa-sign-out" data-icon="fa fa-sign-out">Sign-out</option>
    <option value="fa fa-signal" data-icon="fa fa-signal">Signal</option>
    <option value="fa fa-sitemap" data-icon="fa fa-sitemap">Sitemap</option>
    <option value="fa fa-sliders" data-icon="fa fa-sliders">Sliders</option>
    <option value="fa fa-smile-o" data-icon="fa fa-smile-o">Smile-o</option>
    <option value="fa fa-soccer-ball-o" data-icon="fa fa-soccer-ball-o">Soccer-ball-o</option>
    <option value="fa fa-sort" data-icon="fa fa-sort">Sort</option>
    <option value="fa fa-sort-alpha-asc" data-icon="fa fa-sort-alpha-asc">Sort-alpha-asc</option>
    <option value="fa fa-sort-alpha-desc" data-icon="fa fa-sort-alpha-desc">Sort-alpha-desc</option>
    <option value="fa fa-sort-amount-asc" data-icon="fa fa-sort-amount-asc">Sort-amount-asc</option>
    <option value="fa fa-sort-amount-desc" data-icon="fa fa-sort-amount-desc">Sort-amount-desc</option>
    <option value="fa fa-sort-asc" data-icon="fa fa-sort-asc">Sort-asc</option>
    <option value="fa fa-sort-desc" data-icon="fa fa-sort-desc">Sort-desc</option>
    <option value="fa fa-sort-down" data-icon="fa fa-sort-down">Sort-down</option>
    <option value="fa fa-sort-numeric-asc" data-icon="fa fa-sort-numeric-asc">Sort-numeric-asc</option>
    <option value="fa fa-sort-numeric-desc" data-icon="fa fa-sort-numeric-desc">Sort-numeric-desc</option>
    <option value="fa fa-sort-up" data-icon="fa fa-sort-up">Sort-up</option>
    <option value="fa fa-space-shuttle" data-icon="fa fa-space-shuttle">Space-shuttle</option>
    <option value="fa fa-spinner" data-icon="fa fa-spinner">Spinner</option>
    <option value="fa fa-spoon" data-icon="fa fa-spoon">Spoon</option>
    <option value="fa fa-square" data-icon="fa fa-square">Square</option>
    <option value="fa fa-square-o" data-icon="fa fa-square-o">Square-o</option>
    <option value="fa fa-star" data-icon="fa fa-star">Star</option>
    <option value="fa fa-star-half" data-icon="fa fa-star-half">Star-half</option>
    <option value="fa fa-star-half-empty" data-icon="fa fa-star-half-empty">Star-half-empty</option>
    <option value="fa fa-star-half-full" data-icon="fa fa-star-half-full">Star-half-full</option>
    <option value="fa fa-star-half-o" data-icon="fa fa-star-half-o">Star-half-o</option>
    <option value="fa fa-star-o" data-icon="fa fa-star-o">Star-o</option>
    <option value="fa fa-sticky-note" data-icon="fa fa-sticky-note">Sticky-note</option>
    <option value="fa fa-sticky-note-o" data-icon="fa fa-sticky-note-o">Sticky-note-o</option>
    <option value="fa fa-street-view" data-icon="fa fa-street-view">Street-view</option>
    <option value="fa fa-suitcase" data-icon="fa fa-suitcase">Suitcase</option>
    <option value="fa fa-sun-o" data-icon="fa fa-sun-o">Sun-o</option>
    <option value="fa fa-support" data-icon="fa fa-support">Support</option>
    <option value="fa fa-tablet" data-icon="fa fa-tablet">Tablet</option>
    <option value="fa fa-tachometer" data-icon="fa fa-tachometer">Tachometer</option>
    <option value="fa fa-tag" data-icon="fa fa-tag">Tag</option>
    <option value="fa fa-tags" data-icon="fa fa-tags">Tags</option>
    <option value="fa fa-tasks" data-icon="fa fa-tasks">Tasks</option>
    <option value="fa fa-taxi" data-icon="fa fa-taxi">Taxi</option>
    <option value="fa fa-television" data-icon="fa fa-television">Television</option>
    <option value="fa fa-terminal" data-icon="fa fa-terminal">Terminal</option>
    <option value="fa fa-thumb-tack" data-icon="fa fa-thumb-tack">Thumb-tack</option>
    <option value="fa fa-thumbs-down" data-icon="fa fa-thumbs-down">Thumbs-down</option>
    <option value="fa fa-thumbs-o-down" data-icon="fa fa-thumbs-o-down">Thumbs-o-down</option>
    <option value="fa fa-thumbs-o-up" data-icon="fa fa-thumbs-o-up">Thumbs-o-up</option>
    <option value="fa fa-thumbs-up" data-icon="fa fa-thumbs-up">Thumbs-up</option>
    <option value="fa fa-ticket" data-icon="fa fa-ticket">Ticket</option>
    <option value="fa fa-times" data-icon="fa fa-times">Times</option>
    <option value="fa fa-times-circle" data-icon="fa fa-times-circle">Times-circle</option>
    <option value="fa fa-times-circle-o" data-icon="fa fa-times-circle-o">Times-circle-o</option>
    <option value="fa fa-tint" data-icon="fa fa-tint">Tint</option>
    <option value="fa fa-toggle-down" data-icon="fa fa-toggle-down">Toggle-down</option>
    <option value="fa fa-toggle-left" data-icon="fa fa-toggle-left">Toggle-left</option>
    <option value="fa fa-toggle-off" data-icon="fa fa-toggle-off">Toggle-off</option>
    <option value="fa fa-toggle-on" data-icon="fa fa-toggle-on">Toggle-on</option>
    <option value="fa fa-toggle-right" data-icon="fa fa-toggle-right">Toggle-right</option>
    <option value="fa fa-toggle-up" data-icon="fa fa-toggle-up">Toggle-up</option>
    <option value="fa fa-trademark" data-icon="fa fa-trademark">Trademark</option>
    <option value="fa fa-trash" data-icon="fa fa-trash">Trash</option>
    <option value="fa fa-trash-o" data-icon="fa fa-trash-o">Trash-o</option>
    <option value="fa fa-tree" data-icon="fa fa-tree">Tree</option>
    <option value="fa fa-trophy" data-icon="fa fa-trophy">Trophy</option>
    <option value="fa fa-truck" data-icon="fa fa-truck">Truck</option>
    <option value="fa fa-tty" data-icon="fa fa-tty">Tty</option>
    <option value="fa fa-tv" data-icon="fa fa-tv">Tv</option>
    <option value="fa fa-umbrella" data-icon="fa fa-umbrella">Umbrella</option>
    <option value="fa fa-university" data-icon="fa fa-university">University</option>
    <option value="fa fa-unlock" data-icon="fa fa-unlock">Unlock</option>
    <option value="fa fa-unlock-alt" data-icon="fa fa-unlock-alt">Unlock-alt</option>
    <option value="fa fa-unsorted" data-icon="fa fa-unsorted">Unsorted</option>
    <option value="fa fa-upload" data-icon="fa fa-upload">Upload</option>
    <option value="fa fa-user" data-icon="fa fa-user">User</option>
    <option value="fa fa-user-plus" data-icon="fa fa-user-plus">User-plus</option>
    <option value="fa fa-user-secret" data-icon="fa fa-user-secret">User-secret</option>
    <option value="fa fa-user-times" data-icon="fa fa-user-times">User-times</option>
    <option value="fa fa-users" data-icon="fa fa-users">Users</option>
    <option value="fa fa-video-camera" data-icon="fa fa-video-camera">Video-camera</option>
    <option value="fa fa-volume-down" data-icon="fa fa-volume-down">Volume-down</option>
    <option value="fa fa-volume-off" data-icon="fa fa-volume-off">Volume-off</option>
    <option value="fa fa-volume-up" data-icon="fa fa-volume-up">Volume-up</option>
    <option value="fa fa-warning" data-icon="fa fa-warning">Warning</option>
    <option value="fa fa-wheelchair" data-icon="fa fa-wheelchair">Wheelchair</option>
    <option value="fa fa-wifi" data-icon="fa fa-wifi">Wifi</option>
    <option value="fa fa-wrench" data-icon="fa fa-wrench">Wrench</option>
    <option value="fa fa-bluetooth" data-icon="fa fa-bluetooth">Bluetooth</option>
    <option value="fa fa-bluetooth-b" data-icon="fa fa-bluetooth-b">Bluetooth-b</option>
    <option value="fa fa-codiepie" data-icon="fa fa-codiepie">Codiepie</option>
    <option value="fa fa-credit-card-alt" data-icon="fa fa-credit-card-alt">Credit-card-alt</option>
    <option value="fa fa-edge" data-icon="fa fa-edge">Edge</option>
    <option value="fa fa-fort-awesome" data-icon="fa fa-fort-awesome">Fort-awesome</option>
    <option value="fa fa-hashtag" data-icon="fa fa-hashtag">Hashtag</option>
    <option value="fa fa-mixcloud" data-icon="fa fa-mixcloud">Mixcloud</option>
    <option value="fa fa-modx" data-icon="fa fa-modx">Modx</option>
    <option value="fa fa-pause-circle" data-icon="fa fa-pause-circle">Pause-circle</option>
    <option value="fa fa-pause-circle-o" data-icon="fa fa-pause-circle-o">Pause-circle-o</option>
    <option value="fa fa-percent" data-icon="fa fa-percent">Percent</option>
    <option value="fa fa-product-hunt" data-icon="fa fa-product-hunt">Product-hunt</option>
    <option value="fa fa-reddit-alien" data-icon="fa fa-reddit-alien">Reddit-alien</option>
    <option value="fa fa-scribd" data-icon="fa fa-scribd">Scribd</option>
    <option value="fa fa-shopping-bag" data-icon="fa fa-shopping-bag">Shopping-bag</option>
    <option value="fa fa-shopping-basket" data-icon="fa fa-shopping-basket">Shopping-basket</option>
    <option value="fa fa-stop-circle" data-icon="fa fa-stop-circle">Stop-circle</option>
    <option value="fa fa-stop-circle-o" data-icon="fa fa-stop-circle-o">Stop-circle-o</option>
    <option value="fa fa-usb" data-icon="fa fa-usb">Usb</option>
</optgroup>
<optgroup label="Hand Icons">
    <option value="fa fa-hand-grab-o" data-icon="fa fa-hand-grab-o">Hand-grab-o</option>
    <option value="fa fa-hand-lizard-o" data-icon="fa fa-hand-lizard-o">Hand-lizard-o</option>
    <option value="fa fa-hand-o-down" data-icon="fa fa-hand-o-down">Hand-o-down</option>
    <option value="fa fa-hand-o-left" data-icon="fa fa-hand-o-left">Hand-o-left</option>
    <option value="fa fa-hand-o-right" data-icon="fa fa-hand-o-right">Hand-o-right</option>
    <option value="fa fa-hand-o-up" data-icon="fa fa-hand-o-up">Hand-o-up</option>
    <option value="fa fa-hand-paper-o" data-icon="fa fa-hand-paper-o">Hand-paper-o</option>
    <option value="fa fa-hand-peace-o" data-icon="fa fa-hand-peace-o">Hand-peace-o</option>
    <option value="fa fa-hand-pointer-o" data-icon="fa fa-hand-pointer-o">Hand-pointer-o</option>
    <option value="fa fa-hand-rock-o" data-icon="fa fa-hand-rock-o">Hand-rock-o</option>
    <option value="fa fa-hand-scissors-o" data-icon="fa fa-hand-scissors-o">Hand-scissors-o</option>
    <option value="fa fa-hand-spock-o" data-icon="fa fa-hand-spock-o">Hand-spock-o</option>
    <option value="fa fa-hand-stop-o" data-icon="fa fa-hand-stop-o">Hand-stop-o</option>
    <option value="fa fa-thumbs-down" data-icon="fa fa-thumbs-down">Thumbs-down</option>
    <option value="fa fa-thumbs-o-down" data-icon="fa fa-thumbs-o-down">Thumbs-o-down</option>
    <option value="fa fa-thumbs-o-up" data-icon="fa fa-thumbs-o-up">Thumbs-o-up</option>
    <option value="fa fa-thumbs-up" data-icon="fa fa-thumbs-up">Thumbs-up</option>
</optgroup>
<optgroup label="Transportation">
    <option value="fa fa-ambulance" data-icon="fa fa-ambulance">Ambulance</option>
    <option value="fa fa-automobile" data-icon="fa fa-automobile">Automobile</option>
    <option value="fa fa-bicycle" data-icon="fa fa-bicycle">Bicycle</option>
    <option value="fa fa-bus" data-icon="fa fa-bus">Bus</option>
    <option value="fa fa-cab" data-icon="fa fa-cab">Cab</option>
    <option value="fa fa-car" data-icon="fa fa-car">Car</option>
    <option value="fa fa-fighter-jet" data-icon="fa fa-fighter-jet">Fighter-jet</option>
    <option value="fa fa-motorcycle" data-icon="fa fa-motorcycle">Motorcycle</option>
    <option value="fa fa-plane" data-icon="fa fa-plane">Plane</option>
    <option value="fa fa-rocket" data-icon="fa fa-rocket">Rocket</option>
    <option value="fa fa-ship" data-icon="fa fa-ship">Ship</option>
    <option value="fa fa-space-shuttle" data-icon="fa fa-space-shuttle">Space-shuttle</option>
    <option value="fa fa-subway" data-icon="fa fa-subway">Subway</option>
    <option value="fa fa-taxi" data-icon="fa fa-taxi">Taxi</option>
    <option value="fa fa-train" data-icon="fa fa-train">Train</option>
    <option value="fa fa-truck" data-icon="fa fa-truck">Truck</option>
    <option value="fa fa-wheelchair" data-icon="fa fa-wheelchair">Wheelchair</option>
</optgroup>
<optgroup label="Gender">
    <option value="fa fa-genderless" data-icon="fa fa-genderless">Genderless</option>
    <option value="fa fa-intersex" data-icon="fa fa-intersex">İntersex</option>
    <option value="fa fa-mars" data-icon="fa fa-mars">Mars</option>
    <option value="fa fa-mars-double" data-icon="fa fa-mars-double">Mars-double</option>
    <option value="fa fa-mars-stroke" data-icon="fa fa-mars-stroke">Mars-stroke</option>
    <option value="fa fa-mars-stroke-h" data-icon="fa fa-mars-stroke-h">Mars-stroke-h</option>
    <option value="fa fa-mars-stroke-v" data-icon="fa fa-mars-stroke-v">Mars-stroke-v</option>
    <option value="fa fa-mercury" data-icon="fa fa-mercury">Mercury</option>
    <option value="fa fa-neuter" data-icon="fa fa-neuter">Neuter</option>
    <option value="fa fa-transgender" data-icon="fa fa-transgender">Transgender</option>
    <option value="fa fa-transgender-alt" data-icon="fa fa-transgender-alt">Transgender-alt</option>
    <option value="fa fa-venus" data-icon="fa fa-venus">Venus</option>
    <option value="fa fa-venus-double" data-icon="fa fa-venus-double">Venus-double</option>
    <option value="fa fa-venus-mars" data-icon="fa fa-venus-mars">Venus-mars</option>
</optgroup>
<optgroup label="File Type">
    <option value="fa fa-file" data-icon="fa fa-file">File</option>
    <option value="fa fa-file-archive-o" data-icon="fa fa-file-archive-o">File-archive-o</option>
    <option value="fa fa-file-audio-o" data-icon="fa fa-file-audio-o">File-audio-o</option>
    <option value="fa fa-file-code-o" data-icon="fa fa-file-code-o">File-code-o</option>
    <option value="fa fa-file-excel-o" data-icon="fa fa-file-excel-o">File-excel-o</option>
    <option value="fa fa-file-image-o" data-icon="fa fa-file-image-o">File-image-o</option>
    <option value="fa fa-file-movie-o" data-icon="fa fa-file-movie-o">File-movie-o</option>
    <option value="fa fa-file-o" data-icon="fa fa-file-o">File-o</option>
    <option value="fa fa-file-pdf-o" data-icon="fa fa-file-pdf-o">File-pdf-o</option>
    <option value="fa fa-file-photo-o" data-icon="fa fa-file-photo-o">File-photo-o</option>
    <option value="fa fa-file-picture-o" data-icon="fa fa-file-picture-o">File-picture-o</option>
    <option value="fa fa-file-powerpoint-o" data-icon="fa fa-file-powerpoint-o">File-powerpoint-o</option>
    <option value="fa fa-file-sound-o" data-icon="fa fa-file-sound-o">File-sound-o</option>
    <option value="fa fa-file-text" data-icon="fa fa-file-text">File-text</option>
    <option value="fa fa-file-text-o" data-icon="fa fa-file-text-o">File-text-o</option>
    <option value="fa fa-file-video-o" data-icon="fa fa-file-video-o">File-video-o</option>
    <option value="fa fa-file-word-o" data-icon="fa fa-file-word-o">File-word-o</option>
    <option value="fa fa-file-zip-o" data-icon="fa fa-file-zip-o">File-zip-o</option>
</optgroup>
<optgroup label="Spinner">
    <option value="fa fa-circle-o-notch" data-icon="fa fa-circle-o-notch">Circle-o-notch</option>
    <option value="fa fa-cog" data-icon="fa fa-cog">Cog</option>
    <option value="fa fa-gear" data-icon="fa fa-gear">Gear</option>
    <option value="fa fa-refresh" data-icon="fa fa-refresh">Refresh</option>
    <option value="fa fa-spinner" data-icon="fa fa-spinner">Spinner</option>
</optgroup>
<optgroup label="Form Control">
    <option value="fa fa-check-square" data-icon="fa fa-check-square">Check-square</option>
    <option value="fa fa-check-square-o" data-icon="fa fa-check-square-o">Check-square-o</option>
    <option value="fa fa-circle" data-icon="fa fa-circle">Circle</option>
    <option value="fa fa-circle-o" data-icon="fa fa-circle-o">Circle-o</option>
    <option value="fa fa-dot-circle-o" data-icon="fa fa-dot-circle-o">Dot-circle-o</option>
    <option value="fa fa-minus-square" data-icon="fa fa-minus-square">Minus-square</option>
    <option value="fa fa-minus-square-o" data-icon="fa fa-minus-square-o">Minus-square-o</option>
    <option value="fa fa-plus-square" data-icon="fa fa-plus-square">Plus-square</option>
    <option value="fa fa-plus-square-o" data-icon="fa fa-plus-square-o">Plus-square-o</option>
    <option value="fa fa-square" data-icon="fa fa-square">Square</option>
    <option value="fa fa-square-o" data-icon="fa fa-square-o">Square-o</option>
</optgroup>
<optgroup label="Payment">
    <option value="fa fa-cc-amex" data-icon="fa fa-cc-amex">Cc-amex</option>
    <option value="fa fa-cc-diners-club" data-icon="fa fa-cc-diners-club">Cc-diners-club</option>
    <option value="fa fa-cc-discover" data-icon="fa fa-cc-discover">Cc-discover</option>
    <option value="fa fa-cc-jcb" data-icon="fa fa-cc-jcb">Cc-jcb</option>
    <option value="fa fa-cc-mastercard" data-icon="fa fa-cc-mastercard">Cc-mastercard</option>
    <option value="fa fa-cc-paypal" data-icon="fa fa-cc-paypal">Cc-paypal</option>
    <option value="fa fa-cc-stripe" data-icon="fa fa-cc-stripe">Cc-stripe</option>
    <option value="fa fa-cc-visa" data-icon="fa fa-cc-visa">Cc-visa</option>
    <option value="fa fa-credit-card" data-icon="fa fa-credit-card">Credit-card</option>
    <option value="fa fa-credit-card-alt" data-icon="fa fa-credit-card-alt">Credit-card-alt</option>
    <option value="fa fa-google-wallet" data-icon="fa fa-google-wallet">Google-wallet</option>
    <option value="fa fa-paypal" data-icon="fa fa-paypal">Paypal</option>
</optgroup>
<optgroup label="Chart">
    <option value="fa fa-area-chart" data-icon="fa fa-area-chart">Area-chart</option>
    <option value="fa fa-bar-chart" data-icon="fa fa-bar-chart">Bar-chart</option>
    <option value="fa fa-bar-chart-o" data-icon="fa fa-bar-chart-o">Bar-chart-o</option>
    <option value="fa fa-line-chart" data-icon="fa fa-line-chart">Line-chart</option>
    <option value="fa fa-pie-chart" data-icon="fa fa-pie-chart">Pie-chart</option>
</optgroup>
<optgroup label="Currency">
    <option value="fa fa-bitcoin" data-icon="fa fa-bitcoin">Bitcoin</option>
    <option value="fa fa-btc" data-icon="fa fa-btc">Btc</option>
    <option value="fa fa-cny" data-icon="fa fa-cny">Cny</option>
    <option value="fa fa-dollar" data-icon="fa fa-dollar">Dollar</option>
    <option value="fa fa-eur" data-icon="fa fa-eur">Eur</option>
    <option value="fa fa-euro" data-icon="fa fa-euro">Euro</option>
    <option value="fa fa-gbp" data-icon="fa fa-gbp">Gbp</option>
    <option value="fa fa-gg" data-icon="fa fa-gg">Gg</option>
    <option value="fa fa-gg-circle" data-icon="fa fa-gg-circle">Gg-circle</option>
    <option value="fa fa-ils" data-icon="fa fa-ils">İls</option>
    <option value="fa fa-inr" data-icon="fa fa-inr">İnr</option>
    <option value="fa fa-jpy" data-icon="fa fa-jpy">Jpy</option>
    <option value="fa fa-krw" data-icon="fa fa-krw">Krw</option>
    <option value="fa fa-money" data-icon="fa fa-money">Money</option>
    <option value="fa fa-rmb" data-icon="fa fa-rmb">Rmb</option>
    <option value="fa fa-rouble" data-icon="fa fa-rouble">Rouble</option>
    <option value="fa fa-rub" data-icon="fa fa-rub">Rub</option>
    <option value="fa fa-ruble" data-icon="fa fa-ruble">Ruble</option>
    <option value="fa fa-rupee" data-icon="fa fa-rupee">Rupee</option>
    <option value="fa fa-shekel" data-icon="fa fa-shekel">Shekel</option>
    <option value="fa fa-sheqel" data-icon="fa fa-sheqel">Sheqel</option>
    <option value="fa fa-try" data-icon="fa fa-try">Try</option>
    <option value="fa fa-turkish-lira" data-icon="fa fa-turkish-lira">Turkish-lira</option>
    <option value="fa fa-usd" data-icon="fa fa-usd">Usd</option>
    <option value="fa fa-won" data-icon="fa fa-won">Won</option>
    <option value="fa fa-yen" data-icon="fa fa-yen">Yen</option>
</optgroup>
<optgroup label="Text Editor">
    <option value="fa fa-align-center" data-icon="fa fa-align-center">Align-center</option>
    <option value="fa fa-align-justify" data-icon="fa fa-align-justify">Align-justify</option>
    <option value="fa fa-align-left" data-icon="fa fa-align-left">Align-left</option>
    <option value="fa fa-align-right" data-icon="fa fa-align-right">Align-right</option>
    <option value="fa fa-bold" data-icon="fa fa-bold">Bold</option>
    <option value="fa fa-chain" data-icon="fa fa-chain">Chain</option>
    <option value="fa fa-chain-broken" data-icon="fa fa-chain-broken">Chain-broken</option>
    <option value="fa fa-clipboard" data-icon="fa fa-clipboard">Clipboard</option>
    <option value="fa fa-columns" data-icon="fa fa-columns">Columns</option>
    <option value="fa fa-copy" data-icon="fa fa-copy">Copy</option>
    <option value="fa fa-cut" data-icon="fa fa-cut">Cut</option>
    <option value="fa fa-dedent" data-icon="fa fa-dedent">Dedent</option>
    <option value="fa fa-eraser" data-icon="fa fa-eraser">Eraser</option>
    <option value="fa fa-file" data-icon="fa fa-file">File</option>
    <option value="fa fa-file-o" data-icon="fa fa-file-o">File-o</option>
    <option value="fa fa-file-text" data-icon="fa fa-file-text">File-text</option>
    <option value="fa fa-file-text-o" data-icon="fa fa-file-text-o">File-text-o</option>
    <option value="fa fa-files-o" data-icon="fa fa-files-o">Files-o</option>
    <option value="fa fa-floppy-o" data-icon="fa fa-floppy-o">Floppy-o</option>
    <option value="fa fa-font" data-icon="fa fa-font">Font</option>
    <option value="fa fa-header" data-icon="fa fa-header">Header</option>
    <option value="fa fa-indent" data-icon="fa fa-indent">İndent</option>
    <option value="fa fa-italic" data-icon="fa fa-italic">İtalic</option>
    <option value="fa fa-link" data-icon="fa fa-link">Link</option>
    <option value="fa fa-list" data-icon="fa fa-list">List</option>
    <option value="fa fa-list-alt" data-icon="fa fa-list-alt">List-alt</option>
    <option value="fa fa-list-ol" data-icon="fa fa-list-ol">List-ol</option>
    <option value="fa fa-list-ul" data-icon="fa fa-list-ul">List-ul</option>
    <option value="fa fa-outdent" data-icon="fa fa-outdent">Outdent</option>
    <option value="fa fa-paperclip" data-icon="fa fa-paperclip">Paperclip</option>
    <option value="fa fa-paragraph" data-icon="fa fa-paragraph">Paragraph</option>
    <option value="fa fa-paste" data-icon="fa fa-paste">Paste</option>
    <option value="fa fa-repeat" data-icon="fa fa-repeat">Repeat</option>
    <option value="fa fa-rotate-left" data-icon="fa fa-rotate-left">Rotate-left</option>
    <option value="fa fa-rotate-right" data-icon="fa fa-rotate-right">Rotate-right</option>
    <option value="fa fa-save" data-icon="fa fa-save">Save</option>
    <option value="fa fa-scissors" data-icon="fa fa-scissors">Scissors</option>
    <option value="fa fa-strikethrough" data-icon="fa fa-strikethrough">Strikethrough</option>
    <option value="fa fa-subscript" data-icon="fa fa-subscript">Subscript</option>
    <option value="fa fa-superscript" data-icon="fa fa-superscript">Superscript</option>
    <option value="fa fa-table" data-icon="fa fa-table">Table</option>
    <option value="fa fa-text-height" data-icon="fa fa-text-height">Text-height</option>
    <option value="fa fa-text-width" data-icon="fa fa-text-width">Text-width</option>
    <option value="fa fa-th" data-icon="fa fa-th">Th</option>
    <option value="fa fa-th-large" data-icon="fa fa-th-large">Th-large</option>
    <option value="fa fa-th-list" data-icon="fa fa-th-list">Th-list</option>
    <option value="fa fa-underline" data-icon="fa fa-underline">Underline</option>
    <option value="fa fa-undo" data-icon="fa fa-undo">Undo</option>
    <option value="fa fa-unlink" data-icon="fa fa-unlink">Unlink</option>
</optgroup>
<optgroup label="Directional Icons">
    <option value="fa fa-angle-double-down" data-icon="fa fa-angle-double-down">Angle-double-down</option>
    <option value="fa fa-angle-double-left" data-icon="fa fa-angle-double-left">Angle-double-left</option>
    <option value="fa fa-angle-double-right" data-icon="fa fa-angle-double-right">Angle-double-right</option>
    <option value="fa fa-angle-double-up" data-icon="fa fa-angle-double-up">Angle-double-up</option>
    <option value="fa fa-angle-down" data-icon="fa fa-angle-down">Angle-down</option>
    <option value="fa fa-angle-left" data-icon="fa fa-angle-left">Angle-left</option>
    <option value="fa fa-angle-right" data-icon="fa fa-angle-right">Angle-right</option>
    <option value="fa fa-angle-up" data-icon="fa fa-angle-up">Angle-up</option>
    <option value="fa fa-arrow-circle-down" data-icon="fa fa-arrow-circle-down">Arrow-circle-down</option>
    <option value="fa fa-arrow-circle-left" data-icon="fa fa-arrow-circle-left">Arrow-circle-left</option>
    <option value="fa fa-arrow-circle-o-down" data-icon="fa fa-arrow-circle-o-down">Arrow-circle-o-down</option>
    <option value="fa fa-arrow-circle-o-left" data-icon="fa fa-arrow-circle-o-left">Arrow-circle-o-left</option>
    <option value="fa fa-arrow-circle-o-right" data-icon="fa fa-arrow-circle-o-right">Arrow-circle-o-right</option>
    <option value="fa fa-arrow-circle-o-up" data-icon="fa fa-arrow-circle-o-up">Arrow-circle-o-up</option>
    <option value="fa fa-arrow-circle-right" data-icon="fa fa-arrow-circle-right">Arrow-circle-right</option>
    <option value="fa fa-arrow-circle-up" data-icon="fa fa-arrow-circle-up">Arrow-circle-up</option>
    <option value="fa fa-arrow-down" data-icon="fa fa-arrow-down">Arrow-down</option>
    <option value="fa fa-arrow-left" data-icon="fa fa-arrow-left">Arrow-left</option>
    <option value="fa fa-arrow-right" data-icon="fa fa-arrow-right">Arrow-right</option>
    <option value="fa fa-arrow-up" data-icon="fa fa-arrow-up">Arrow-up</option>
    <option value="fa fa-arrows" data-icon="fa fa-arrows">Arrows</option>
    <option value="fa fa-arrows-alt" data-icon="fa fa-arrows-alt">Arrows-alt</option>
    <option value="fa fa-arrows-h" data-icon="fa fa-arrows-h">Arrows-h</option>
    <option value="fa fa-arrows-v" data-icon="fa fa-arrows-v">Arrows-v</option>
    <option value="fa fa-caret-down" data-icon="fa fa-caret-down">Caret-down</option>
    <option value="fa fa-caret-left" data-icon="fa fa-caret-left">Caret-left</option>
    <option value="fa fa-caret-right" data-icon="fa fa-caret-right">Caret-right</option>
    <option value="fa fa-caret-square-o-down" data-icon="fa fa-caret-square-o-down">Caret-square-o-down</option>
    <option value="fa fa-caret-square-o-left" data-icon="fa fa-caret-square-o-left">Caret-square-o-left</option>
    <option value="fa fa-caret-square-o-right" data-icon="fa fa-caret-square-o-right">Caret-square-o-right</option>
    <option value="fa fa-caret-square-o-up" data-icon="fa fa-caret-square-o-up">Caret-square-o-up</option>
    <option value="fa fa-caret-up" data-icon="fa fa-caret-up">Caret-up</option>
    <option value="fa fa-chevron-circle-down" data-icon="fa fa-chevron-circle-down">Chevron-circle-down</option>
    <option value="fa fa-chevron-circle-left" data-icon="fa fa-chevron-circle-left">Chevron-circle-left</option>
    <option value="fa fa-chevron-circle-right" data-icon="fa fa-chevron-circle-right">Chevron-circle-right</option>
    <option value="fa fa-chevron-circle-up" data-icon="fa fa-chevron-circle-up">Chevron-circle-up</option>
    <option value="fa fa-chevron-down" data-icon="fa fa-chevron-down">Chevron-down</option>
    <option value="fa fa-chevron-left" data-icon="fa fa-chevron-left">Chevron-left</option>
    <option value="fa fa-chevron-right" data-icon="fa fa-chevron-right">Chevron-right</option>
    <option value="fa fa-chevron-up" data-icon="fa fa-chevron-up">Chevron-up</option>
    <option value="fa fa-exchange" data-icon="fa fa-exchange">Exchange</option>
    <option value="fa fa-hand-o-down" data-icon="fa fa-hand-o-down">Hand-o-down</option>
    <option value="fa fa-hand-o-left" data-icon="fa fa-hand-o-left">Hand-o-left</option>
    <option value="fa fa-hand-o-right" data-icon="fa fa-hand-o-right">Hand-o-right</option>
    <option value="fa fa-hand-o-up" data-icon="fa fa-hand-o-up">Hand-o-up</option>
    <option value="fa fa-long-arrow-down" data-icon="fa fa-long-arrow-down">Long-arrow-down</option>
    <option value="fa fa-long-arrow-left" data-icon="fa fa-long-arrow-left">Long-arrow-left</option>
    <option value="fa fa-long-arrow-right" data-icon="fa fa-long-arrow-right">Long-arrow-right</option>
    <option value="fa fa-long-arrow-up" data-icon="fa fa-long-arrow-up">Long-arrow-up</option>
    <option value="fa fa-toggle-down" data-icon="fa fa-toggle-down">Toggle-down</option>
    <option value="fa fa-toggle-left" data-icon="fa fa-toggle-left">Toggle-left</option>
    <option value="fa fa-toggle-right" data-icon="fa fa-toggle-right">Toggle-right</option>
    <option value="fa fa-toggle-up" data-icon="fa fa-toggle-up">Toggle-up</option>
</optgroup>
<optgroup label="Video Player Icons">
    <option value="fa fa-arrows-alt" data-icon="fa fa-arrows-alt">Arrows-alt</option>
    <option value="fa fa-backward" data-icon="fa fa-backward">Backward</option>
    <option value="fa fa-compress" data-icon="fa fa-compress">Compress</option>
    <option value="fa fa-eject" data-icon="fa fa-eject">Eject</option>
    <option value="fa fa-expand" data-icon="fa fa-expand">Expand</option>
    <option value="fa fa-fast-backward" data-icon="fa fa-fast-backward">Fast-backward</option>
    <option value="fa fa-fast-forward" data-icon="fa fa-fast-forward">Fast-forward</option>
    <option value="fa fa-forward" data-icon="fa fa-forward">Forward</option>
    <option value="fa fa-pause" data-icon="fa fa-pause">Pause</option>
    <option value="fa fa-pause-circle" data-icon="fa fa-pause-circle">Pause-circle</option>
    <option value="fa fa-pause-circle-o" data-icon="fa fa-pause-circle-o">Pause-circle-o</option>
    <option value="fa fa-play" data-icon="fa fa-play">Play</option>
    <option value="fa fa-play-circle" data-icon="fa fa-play-circle">Play-circle</option>
    <option value="fa fa-play-circle-o" data-icon="fa fa-play-circle-o">Play-circle-o</option>
    <option value="fa fa-random" data-icon="fa fa-random">Random</option>
    <option value="fa fa-step-backward" data-icon="fa fa-step-backward">Step-backward</option>
    <option value="fa fa-step-forward" data-icon="fa fa-step-forward">Step-forward</option>
    <option value="fa fa-stop" data-icon="fa fa-stop">Stop</option>
    <option value="fa fa-stop-circle" data-icon="fa fa-stop-circle">Stop-circle</option>
    <option value="fa fa-stop-circle-o" data-icon="fa fa-stop-circle-o">Stop-circle-o</option>
    <option value="fa fa-youtube-play" data-icon="fa fa-youtube-play">Youtube-play</option>
</optgroup>
<optgroup label="Brand Icons">
    <option value="fa fa-500px" data-icon="fa fa-500px">500px</option>
    <option value="fa fa-adn" data-icon="fa fa-adn">Adn</option>
    <option value="fa fa-amazon" data-icon="fa fa-amazon">Amazon</option>
    <option value="fa fa-android" data-icon="fa fa-android">Android</option>
    <option value="fa fa-angellist" data-icon="fa fa-angellist">Angellist</option>
    <option value="fa fa-apple" data-icon="fa fa-apple">Apple</option>
    <option value="fa fa-behance" data-icon="fa fa-behance">Behance</option>
    <option value="fa fa-behance-square" data-icon="fa fa-behance-square">Behance-square</option>
    <option value="fa fa-bitbucket" data-icon="fa fa-bitbucket">Bitbucket</option>
    <option value="fa fa-bitbucket-square" data-icon="fa fa-bitbucket-square">Bitbucket-square</option>
    <option value="fa fa-bitcoin" data-icon="fa fa-bitcoin">Bitcoin</option>
    <option value="fa fa-black-tie" data-icon="fa fa-black-tie">Black-tie</option>
    <option value="fa fa-bluetooth" data-icon="fa fa-bluetooth">Bluetooth</option>
    <option value="fa fa-bluetooth-b" data-icon="fa fa-bluetooth-b">Bluetooth-b</option>
    <option value="fa fa-btc" data-icon="fa fa-btc">Btc</option>
    <option value="fa fa-buysellads" data-icon="fa fa-buysellads">Buysellads</option>
    <option value="fa fa-cc-amex" data-icon="fa fa-cc-amex">Cc-amex</option>
    <option value="fa fa-cc-diners-club" data-icon="fa fa-cc-diners-club">Cc-diners-club</option>
    <option value="fa fa-cc-discover" data-icon="fa fa-cc-discover">Cc-discover</option>
    <option value="fa fa-cc-jcb" data-icon="fa fa-cc-jcb">Cc-jcb</option>
    <option value="fa fa-cc-mastercard" data-icon="fa fa-cc-mastercard">Cc-mastercard</option>
    <option value="fa fa-cc-paypal" data-icon="fa fa-cc-paypal">Cc-paypal</option>
    <option value="fa fa-cc-stripe" data-icon="fa fa-cc-stripe">Cc-stripe</option>
    <option value="fa fa-cc-visa" data-icon="fa fa-cc-visa">Cc-visa</option>
    <option value="fa fa-chrome" data-icon="fa fa-chrome">Chrome</option>
    <option value="fa fa-codepen" data-icon="fa fa-codepen">Codepen</option>
    <option value="fa fa-codiepie" data-icon="fa fa-codiepie">Codiepie</option>
    <option value="fa fa-connectdevelop" data-icon="fa fa-connectdevelop">Connectdevelop</option>
    <option value="fa fa-contao" data-icon="fa fa-contao">Contao</option>
    <option value="fa fa-css3" data-icon="fa fa-css3">Css3</option>
    <option value="fa fa-dashcube" data-icon="fa fa-dashcube">Dashcube</option>
    <option value="fa fa-delicious" data-icon="fa fa-delicious">Delicious</option>
    <option value="fa fa-deviantart" data-icon="fa fa-deviantart">Deviantart</option>
    <option value="fa fa-digg" data-icon="fa fa-digg">Digg</option>
    <option value="fa fa-dribbble" data-icon="fa fa-dribbble">Dribbble</option>
    <option value="fa fa-dropbox" data-icon="fa fa-dropbox">Dropbox</option>
    <option value="fa fa-drupal" data-icon="fa fa-drupal">Drupal</option>
    <option value="fa fa-edge" data-icon="fa fa-edge">Edge</option>
    <option value="fa fa-empire" data-icon="fa fa-empire">Empire</option>
    <option value="fa fa-expeditedssl" data-icon="fa fa-expeditedssl">Expeditedssl</option>
    <option value="fa fa-facebook" data-icon="fa fa-facebook">Facebook</option>
    <option value="fa fa-facebook-f" data-icon="fa fa-facebook-f">Facebook-f</option>
    <option value="fa fa-facebook-official" data-icon="fa fa-facebook-official">Facebook-official</option>
    <option value="fa fa-facebook-square" data-icon="fa fa-facebook-square">Facebook-square</option>
    <option value="fa fa-firefox" data-icon="fa fa-firefox">Firefox</option>
    <option value="fa fa-flickr" data-icon="fa fa-flickr">Flickr</option>
    <option value="fa fa-fonticons" data-icon="fa fa-fonticons">Fonticons</option>
    <option value="fa fa-fort-awesome" data-icon="fa fa-fort-awesome">Fort-awesome</option>
    <option value="fa fa-forumbee" data-icon="fa fa-forumbee">Forumbee</option>
    <option value="fa fa-foursquare" data-icon="fa fa-foursquare">Foursquare</option>
    <option value="fa fa-ge" data-icon="fa fa-ge">Ge</option>
    <option value="fa fa-get-pocket" data-icon="fa fa-get-pocket">Get-pocket</option>
    <option value="fa fa-gg" data-icon="fa fa-gg">Gg</option>
    <option value="fa fa-gg-circle" data-icon="fa fa-gg-circle">Gg-circle</option>
    <option value="fa fa-git" data-icon="fa fa-git">Git</option>
    <option value="fa fa-git-square" data-icon="fa fa-git-square">Git-square</option>
    <option value="fa fa-github" data-icon="fa fa-github">Github</option>
    <option value="fa fa-github-alt" data-icon="fa fa-github-alt">Github-alt</option>
    <option value="fa fa-github-square" data-icon="fa fa-github-square">Github-square</option>
    <option value="fa fa-gittip" data-icon="fa fa-gittip">Gittip</option>
    <option value="fa fa-google" data-icon="fa fa-google">Google</option>
    <option value="fa fa-google-plus" data-icon="fa fa-google-plus">Google-plus</option>
    <option value="fa fa-google-plus-square" data-icon="fa fa-google-plus-square">Google-plus-square</option>
    <option value="fa fa-google-wallet" data-icon="fa fa-google-wallet">Google-wallet</option>
    <option value="fa fa-gratipay" data-icon="fa fa-gratipay">Gratipay</option>
    <option value="fa fa-hacker-news" data-icon="fa fa-hacker-news">Hacker-news</option>
    <option value="fa fa-houzz" data-icon="fa fa-houzz">Houzz</option>
    <option value="fa fa-html5" data-icon="fa fa-html5">Html5</option>
    <option value="fa fa-instagram" data-icon="fa fa-instagram">İnstagram</option>
    <option value="fa fa-internet-explorer" data-icon="fa fa-internet-explorer">İnternet-explorer</option>
    <option value="fa fa-ioxhost" data-icon="fa fa-ioxhost">İoxhost</option>
    <option value="fa fa-joomla" data-icon="fa fa-joomla">Joomla</option>
    <option value="fa fa-jsfiddle" data-icon="fa fa-jsfiddle">Jsfiddle</option>
    <option value="fa fa-lastfm" data-icon="fa fa-lastfm">Lastfm</option>
    <option value="fa fa-lastfm-square" data-icon="fa fa-lastfm-square">Lastfm-square</option>
    <option value="fa fa-leanpub" data-icon="fa fa-leanpub">Leanpub</option>
    <option value="fa fa-linkedin" data-icon="fa fa-linkedin">Linkedin</option>
    <option value="fa fa-linkedin-square" data-icon="fa fa-linkedin-square">Linkedin-square</option>
    <option value="fa fa-linux" data-icon="fa fa-linux">Linux</option>
    <option value="fa fa-maxcdn" data-icon="fa fa-maxcdn">Maxcdn</option>
    <option value="fa fa-meanpath" data-icon="fa fa-meanpath">Meanpath</option>
    <option value="fa fa-medium" data-icon="fa fa-medium">Medium</option>
    <option value="fa fa-mixcloud" data-icon="fa fa-mixcloud">Mixcloud</option>
    <option value="fa fa-modx" data-icon="fa fa-modx">Modx</option>
    <option value="fa fa-odnoklassniki" data-icon="fa fa-odnoklassniki">Odnoklassniki</option>
    <option value="fa fa-odnoklassniki-square" data-icon="fa fa-odnoklassniki-square">Odnoklassniki-square</option>
    <option value="fa fa-opencart" data-icon="fa fa-opencart">Opencart</option>
    <option value="fa fa-openid" data-icon="fa fa-openid">Openid</option>
    <option value="fa fa-opera" data-icon="fa fa-opera">Opera</option>
    <option value="fa fa-optin-monster" data-icon="fa fa-optin-monster">Optin-monster</option>
    <option value="fa fa-pagelines" data-icon="fa fa-pagelines">Pagelines</option>
    <option value="fa fa-paypal" data-icon="fa fa-paypal">Paypal</option>
    <option value="fa fa-pied-piper" data-icon="fa fa-pied-piper">Pied-piper</option>
    <option value="fa fa-pied-piper-alt" data-icon="fa fa-pied-piper-alt">Pied-piper-alt</option>
    <option value="fa fa-pinterest" data-icon="fa fa-pinterest">Pinterest</option>
    <option value="fa fa-pinterest-p" data-icon="fa fa-pinterest-p">Pinterest-p</option>
    <option value="fa fa-pinterest-square" data-icon="fa fa-pinterest-square">Pinterest-square</option>
    <option value="fa fa-product-hunt" data-icon="fa fa-product-hunt">Product-hunt</option>
    <option value="fa fa-qq" data-icon="fa fa-qq">Qq</option>
    <option value="fa fa-ra" data-icon="fa fa-ra">Ra</option>
    <option value="fa fa-rebel" data-icon="fa fa-rebel">Rebel</option>
    <option value="fa fa-reddit" data-icon="fa fa-reddit">Reddit</option>
    <option value="fa fa-reddit-alien" data-icon="fa fa-reddit-alien">Reddit-alien</option>
    <option value="fa fa-reddit-square" data-icon="fa fa-reddit-square">Reddit-square</option>
    <option value="fa fa-renren" data-icon="fa fa-renren">Renren</option>
    <option value="fa fa-safari" data-icon="fa fa-safari">Safari</option>
    <option value="fa fa-scribd" data-icon="fa fa-scribd">Scribd</option>
    <option value="fa fa-sellsy" data-icon="fa fa-sellsy">Sellsy</option>
    <option value="fa fa-share-alt" data-icon="fa fa-share-alt">Share-alt</option>
    <option value="fa fa-share-alt-square" data-icon="fa fa-share-alt-square">Share-alt-square</option>
    <option value="fa fa-shirtsinbulk" data-icon="fa fa-shirtsinbulk">Shirtsinbulk</option>
    <option value="fa fa-simplybuilt" data-icon="fa fa-simplybuilt">Simplybuilt</option>
    <option value="fa fa-skyatlas" data-icon="fa fa-skyatlas">Skyatlas</option>
    <option value="fa fa-skype" data-icon="fa fa-skype">Skype</option>
    <option value="fa fa-slack" data-icon="fa fa-slack">Slack</option>
    <option value="fa fa-slideshare" data-icon="fa fa-slideshare">Slideshare</option>
    <option value="fa fa-soundcloud" data-icon="fa fa-soundcloud">Soundcloud</option>
    <option value="fa fa-spotify" data-icon="fa fa-spotify">Spotify</option>
    <option value="fa fa-stack-exchange" data-icon="fa fa-stack-exchange">Stack-exchange</option>
    <option value="fa fa-stack-overflow" data-icon="fa fa-stack-overflow">Stack-overflow</option>
    <option value="fa fa-steam" data-icon="fa fa-steam">Steam</option>
    <option value="fa fa-steam-square" data-icon="fa fa-steam-square">Steam-square</option>
    <option value="fa fa-stumbleupon" data-icon="fa fa-stumbleupon">Stumbleupon</option>
    <option value="fa fa-stumbleupon-circle" data-icon="fa fa-stumbleupon-circle">Stumbleupon-circle</option>
    <option value="fa fa-tencent-weibo" data-icon="fa fa-tencent-weibo">Tencent-weibo</option>
    <option value="fa fa-trello" data-icon="fa fa-trello">Trello</option>
    <option value="fa fa-tripadvisor" data-icon="fa fa-tripadvisor">Tripadvisor</option>
    <option value="fa fa-tumblr" data-icon="fa fa-tumblr">Tumblr</option>
    <option value="fa fa-tumblr-square" data-icon="fa fa-tumblr-square">Tumblr-square</option>
    <option value="fa fa-twitch" data-icon="fa fa-twitch">Twitch</option>
    <option value="fa fa-twitter" data-icon="fa fa-twitter">Twitter</option>
    <option value="fa fa-twitter-square" data-icon="fa fa-twitter-square">Twitter-square</option>
    <option value="fa fa-usb" data-icon="fa fa-usb">Usb</option>
    <option value="fa fa-viacoin" data-icon="fa fa-viacoin">Viacoin</option>
    <option value="fa fa-vimeo" data-icon="fa fa-vimeo">Vimeo</option>
    <option value="fa fa-vimeo-square" data-icon="fa fa-vimeo-square">Vimeo-square</option>
    <option value="fa fa-vine" data-icon="fa fa-vine">Vine</option>
    <option value="fa fa-vk" data-icon="fa fa-vk">Vk</option>
    <option value="fa fa-wechat" data-icon="fa fa-wechat">Wechat</option>
    <option value="fa fa-weibo" data-icon="fa fa-weibo">Weibo</option>
    <option value="fa fa-weixin" data-icon="fa fa-weixin">Weixin</option>
    <option value="fa fa-whatsapp" data-icon="fa fa-whatsapp">Whatsapp</option>
    <option value="fa fa-wikipedia-w" data-icon="fa fa-wikipedia-w">Wikipedia-w</option>
    <option value="fa fa-windows" data-icon="fa fa-windows">Windows</option>
    <option value="fa fa-wordpress" data-icon="fa fa-wordpress">Wordpress</option>
    <option value="fa fa-xing" data-icon="fa fa-xing">Xing</option>
    <option value="fa fa-xing-square" data-icon="fa fa-xing-square">Xing-square</option>
    <option value="fa fa-y-combinator" data-icon="fa fa-y-combinator">Y-combinator</option>
    <option value="fa fa-y-combinator-square" data-icon="fa fa-y-combinator-square">Y-combinator-square</option>
    <option value="fa fa-yahoo" data-icon="fa fa-yahoo">Yahoo</option>
    <option value="fa fa-yc" data-icon="fa fa-yc">Yc</option>
    <option value="fa fa-yc-square" data-icon="fa fa-yc-square">Yc-square</option>
    <option value="fa fa-yelp" data-icon="fa fa-yelp">Yelp</option>
    <option value="fa fa-youtube" data-icon="fa fa-youtube">Youtube</option>
    <option value="fa fa-youtube-play" data-icon="fa fa-youtube-play">Youtube-play</option>
    <option value="fa fa-youtube-square" data-icon="fa fa-youtube-square">Youtube-square</option>
</optgroup>
<optgroup label="Medical Icons">
    <option value="fa fa-ambulance" data-icon="fa fa-ambulance">Ambulance</option>
    <option value="fa fa-h-square" data-icon="fa fa-h-square">H-square</option>
    <option value="fa fa-heart" data-icon="fa fa-heart">Heart</option>
    <option value="fa fa-heart-o" data-icon="fa fa-heart-o">Heart-o</option>
    <option value="fa fa-heartbeat" data-icon="fa fa-heartbeat">Heartbeat</option>
    <option value="fa fa-hospital-o" data-icon="fa fa-hospital-o">Hospital-o</option>
    <option value="fa fa-medkit" data-icon="fa fa-medkit">Medkit</option>
    <option value="fa fa-plus-square" data-icon="fa fa-plus-square">Plus-square</option>
    <option value="fa fa-stethoscope" data-icon="fa fa-stethoscope">Stethoscope</option>
    <option value="fa fa-user-md" data-icon="fa fa-user-md">User-md</option>
    <option value="fa fa-wheelchair" data-icon="fa fa-wheelchair">Wheelchair</option>
</optgroup>

