
@{
    ViewBag.Title = "Error403";
    Layout = "~/Areas/Base/Views/Shared/_LayoutMain.cshtml";
}

<link href="~/Theme/Metronic/assets/pages/css/error.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12 page-404">
        <div class="number font-green"> 403 </div>
        <div class="details">
            <h3>Uyarı!</h3>
            <p>
                Erişmek istediğiniz sayfaya yetkiniz bulunmamaktadır. Lütfen sistem yöneticinizle iletişime geçiniz.
                <br>
                @*<a href="index.html"> Return home </a> or try the search bar below.*@
            </p>
            @*<form action="#">
                    <div class="input-group input-medium">
                        <input type="text" class="form-control" placeholder="keyword...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn green">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>*@
        </div>
    </div>
</div>