@using Devia.Sigma.Business.Commerce.Order.Entity

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Base/Views/Shared/_LayoutMain.cshtml";
}

<div class="portlet light bordered" id="form_wizard_1">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-shopping-cart font-green"></i>
            <span class="caption-subject font-green bold uppercase">
                SİPARİŞ ÖZETİ
                @*<span class="step-title"> Step 1 of 4 </span>*@
            </span>
        </div>
        <div class="actions">
        </div>
    </div>
    <div class="portlet-body form">
        <h2>Siparişiniz başarıyla alındı. Teşekkürler</h2>
    </div>
</div>


@section pageScript
{
   @* <script src="~/Areas/Base/Scripts/Commerce/Order/Order.Index.js"></script>*@
}


