
@{
    ViewBag.Title = "NotReady";
    Layout = "~/Areas/Site/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-md-3 col-sm-0"></div>
    <div class="col-md-6 col-sm-12">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__body">
                <!--begin::Section-->
                <div class="m-section" style="margin-bottom:0px;">
                    <div class="m-section__content" style="margin-bottom:0px;">
                        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false" style="margin-bottom:0px;">
                            <div class="m-demo__preview">
                                <h2 class="m--font-info text-center" style="margin-bottom:0px;">
                                    Sayfa yapım aşamasındadır.
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Section-->
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

