<!-- begin::Horizontal Menu -->
<div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
	<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
		<i class="la la-close"></i>
	</button>
	<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light "  >
		<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
			<li class="m-menu__item  m-menu__item--active"  aria-haspopup="true">
				<a  href="/" class="m-menu__link ">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						Ana Sayfa
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" aria-haspopup="true">
				<a  href="" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						Hesaplama Araçlarý
					</span>
					<i class="m-menu__hor-arrow la la-angle-down"></i>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
					<span class="m-menu__arrow m-menu__arrow--adjust"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item "  aria-haspopup="true">
							<a  href="/Home/NotReady" class="m-menu__link ">
								<i class="m-menu__link-icon flaticon-coins"></i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Portföyüm
										</span>
									</span>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
				<a  href="" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						Raporlar
					</span>
					<i class="m-menu__hor-arrow la la-angle-down"></i>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:600px">
					<span class="m-menu__arrow m-menu__arrow--adjust"></span>
					<div class="m-menu__subnav">
						<ul class="m-menu__content">
							<li class="m-menu__item">
								<h3 class="m-menu__heading m-menu__toggle">
									<span class="m-menu__link-text">
										Market Raporlarý
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</h3>
                                <ul class="m-menu__inner">
                                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                        <a href="/Home/NotReady" class="m-menu__link ">
                                            <i class="m-menu__link-icon flaticon-map"></i>
                                            <span class="m-menu__link-text">
                                                Marketler
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                        <a href="/Home/NotReady" class="m-menu__link ">
                                            <i class="m-menu__link-icon flaticon-map"></i>
                                            <span class="m-menu__link-text">
                                                Yýllýk Rapor
                                            </span>
                                        </a>
                                    </li>
                                </ul>
							</li>
                            <li class="m-menu__item">
                                <h3 class="m-menu__heading m-menu__toggle">
                                    <span class="m-menu__link-text">
                                        Coin Raporlarý
                                    </span>
                                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                                </h3>
                                <ul class="m-menu__inner">
                                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                        <a href="/Home/NotReady" class="m-menu__link ">
                                            <i class="m-menu__link-icon flaticon-map"></i>
                                            <span class="m-menu__link-text">
                                                Tüm Coinler
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                        <a href="/Home/NotReady" class="m-menu__link ">
                                            <i class="m-menu__link-icon flaticon-map"></i>
                                            <span class="m-menu__link-text">
                                                Yýllýk Rapor
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
							
						</ul>
					</div>
				</div>
			</li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <span class="m-menu__item-here"></span>
                    <span class="m-menu__link-text">
                        Veri Bankasý
                    </span>
                    <i class="m-menu__hor-arrow la la-angle-down"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/Home/NotReady" class="m-menu__link ">
                                <i class="m-menu__link-icon flaticon-coins"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            BlockChain
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/Home/NotReady" class="m-menu__link ">
                                <i class="m-menu__link-icon flaticon-coins"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Tangle
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/Home/NotReady" class="m-menu__link ">
                                <i class="m-menu__link-icon flaticon-coins"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Terimler Sözlüðü
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <span class="m-menu__item-here"></span>
                    <span class="m-menu__link-text">
                        Yardým
                    </span>
                    <i class="m-menu__hor-arrow la la-angle-down"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/Home/NotReady" class="m-menu__link ">
                                <i class="m-menu__link-icon flaticon-coins"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Talep Giriþi
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/Home/NotReady" class="m-menu__link ">
                                <i class="m-menu__link-icon flaticon-coins"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Hakkýmýzda
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/Home/NotReady" class="m-menu__link ">
                                <i class="m-menu__link-icon flaticon-coins"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Sýk Sorulan Sorular
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/Home/NotReady" class="m-menu__link ">
                                <i class="m-menu__link-icon flaticon-coins"></i>
                                <span class="m-menu__link-title">
                                    <span class="m-menu__link-wrap">
                                        <span class="m-menu__link-text">
                                            Ýletiþim
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
		</ul>
	</div>
</div>
<!-- end::Horizontal Menu -->
