@using CoinPortal.Business.Entity.SgSit

<!-- begin::Brand -->
<div class="m-stack__item m-brand">
	<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
		<div class="m-stack__item m-stack__item--middle m-brand__logo">
			<a href="/Home/NotReady" class="m-brand__logo-wrapper">
				<img alt="" src="~/Theme/Metronic5/assets/demo/demo5/media/img/logo/logo.png"/>
			</a>
		</div>
		<div class="m-stack__item m-stack__item--middle m-brand__tools">
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" data-dropdown-toggle="click" aria-expanded="true">
				<a href="#" class="dropdown-toggle m-dropdown__toggle btn btn-outline-metal m-btn  m-btn--icon m-btn--pill">
					<span>
						Baðýþ Yap
					</span>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Menu
										</span>
									</li>
                                    @foreach (var dntAdr in SitDntAdr.SelectAll(a => a.IsActive).OrderBy(a => a.OrderNo))
                                    {
                                        <li class="m-nav__item">
                                            <a class="m-nav__link donateLink">
                                                <i class="m-nav__link-icon flaticon-coins"></i>
                                                <span class="m-nav__link-text">
                                                    @dntAdr.Name
                                                </span>
                                                <div class="donation-address" style="display:none;">@dntAdr.Address</div>
                                                <div class="donationTag" style="display:none;">@dntAdr.Tag</div>
                                            </a>
                                        </li>
                                    }

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin::Responsive Header Menu Toggler-->
			<a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
				<span></span>
			</a>
			<!-- end::Responsive Header Menu Toggler-->							<!-- begin::Topbar Toggler-->
			<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
				<i class="flaticon-more"></i>
			</a>
			<!--end::Topbar Toggler-->
		</div>
	</div>
</div>

<!-- end::Brand -->

<div class="modal fade" id="donationModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Modal title
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="m--font-info text-center donation-address" style="word-wrap: break-word;">
                    Address
                </h5>
                <style>
                    #donation-qrcode img {
                        margin-left:auto;
                        margin-right:auto;
                    }
                </style>
                <div id="donation-qrcode" class="center-align" style="margin-top:30px;"></div>
                <p class="text-center" style="margin-top:20px;">
                    <small >
                        Baðýþ yaptýðýnýz için teþekkürler
                    </small>
                </p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
